body {
    background-color: #7e4a1f;
    background: linear-gradient(#7e1f1f, #af862c);
}

.container {
    margin: 0px 100px;
    padding: 20px 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornsilk
}

header {
    position: relative;
    background-color: #cc6123;
    background: linear-gradient(#c96024, #d66422);
}

#menu-opcoes {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#menu-opcoes ul {
    margin-right: 40px;
    margin-bottom: 20px;
}

#menu-opcoes ul li {
    display: inline-block;
    background-color: #f6bd20;

    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

#menu-opcoes ul li:hover {
    box-shadow: 0 0 8px 5px rgba(255, 255, 200, 0.4);
}

li a {
    display: block;
    width: inherit;
    height: inherit;
    padding: 9px;
    box-sizing: border-box;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    padding: 40px 0;
    float: left;
}


h2 {
    font-size: 24px;
    color: white;
    background-color: peru;
    background-image: url(../img/background-01.jpg);
    padding: 8px 20px;
    margin-bottom: 10px;
    width: fit-content;
}

p {
    text-indent: 20px;
    margin-bottom: 10px;
}

dl {
    margin: 0px 0 10px 0;
}

dt {
    font-style: italic;
}

dd {
    margin-left: 40px;
    color: gray;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

figcaption {
    text-align: center;
}

#logo {
    float: left;
    padding: 10px 20px 10px 30px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

small {
    font-size: smaller;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

u {
    text-decoration: underline;
}
