#pikachu-01 {
    float: right;
    padding: 10px 10px;
    margin: 0px 0px 16px 16px;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: orange;
    border-width: 3px;
    border-style: solid;
}

.texto {
    border-left-color: palevioletred;
    border-left-style: dashed;
    border-left-width: 3px;
    padding: 0 30px;
}

.texto h2 {
    position: relative;
    right: 30px;
}
